<%- include("partials/header") %>

<a href="/campgrounds/new">Add new Campground</a>

<h1>This is the campgrounds page</h1>

<% campgrounds.forEach((campground) => { %>
    <li>
        <%= campground.name %>
    </li>
<% }); %>

<%- include("partials/footer") %>