body{
    background: #f0f0f0;
}

.navbar {
    border: none;
    border-radius: 0;
}

.navbar .container-fluid .navbar-header a, 
.navbar .container-fluid .collapse .nav li a{
    color: white;
}

.jumbotron {
    background: #dee1ec;
}

.jumbotron .container {
    display: flex; 
    flex-direction: column; 
    align-items: center
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
} 

.delete-form {
    display: inline;
}

.navbar-default {
    background: #364f6b;
}